.main-title{
    color: rgba(252, 238, 171, 255);
    font-size: 8rem;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.margin-top-50{
    margin-top: 5rem;
}

.margin-bottom-35{
    margin-bottom: 3.5rem;
}

.general-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}