.pink{
    background-color: rgba(206, 148, 236, 255);
}
.orange{
    background-color: rgba(230, 185, 154, 255);
}
.green{
    background-color: rgba(168, 220, 213, 255);
}
.light-blue{
    background-color: rgba(192, 223, 253, 255);
}
