.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-container {
    /* background-color: white; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    text-align: center;
    position: relative;
    background-color: rgba(188, 86, 55, 255);
    color: rgba(252, 238, 171, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .popup-options button {
    margin: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }

 
  
  .popup-options button:hover {
    background-color: #e0e0e0;
  }
  
  .popup-option{
    margin-top: 1.1em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.8em;
    padding: 0.5em;
  }
  .popup-link{
    color: rgba(252, 238, 171, 255);
    text-decoration: none;
  }