* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom,
      rgba(78, 155, 161, 255),
      rgba(47, 55, 80, 255));
      min-height: 100vh;
}



h1,
h2,
h3 {
  font-family: 'Yeseva One', cursive;
}